.container {
    padding: 30px;
    justify-items: center;
    align-items: center;
}

h1 {
    margin-top: 0px;
}

h2{
    margin-top: 60px;
}

table {
    width: 100%;
}

.center-column{
    text-align: center;
    padding-left: 0px;
}

.add-task{
    width: 45px;
    height: 45px;
    border-radius: 10px;

    align-items: center;
    justify-content: center;

    font-weight: bold;

    cursor: pointer;
}

.add-task:hover{
    font-weight: bolder;
}

.tableDiv{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    gap: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.removeBttn{
    width: 155px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;

    &.disabled {
        background: gray;
        color: white;
        cursor: not-allowed;
    }

    &.active {
        background: red;
        color: white;
    }

    &.active:hover{
        background: darkred;
        font-weight: bolder;
    }
}

.pointer{
    cursor: pointer;
}

img{
    width: 35px;
    height: 35px;
    margin-top: 5px;
}

td{
    padding-left: 10px;
}

.favBttn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fav-text {
    font-weight: bold;
}
  
.randomBttn{
    width: 155px;
    height: 35px;
    border-radius: 10px;

    background: rgb(96, 96, 187);
    color: white;
    
    font-weight: bold;
}

.bttnsContainer{
    display: flex;
    flex-direction: row;

    gap: 35px;
    
}

.randomBttn:hover{
    font-weight: bolder;
    color: white;

    background-color: rgb(74, 74, 145);
}