<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<p>Diana Lucía Fernández Villatoro</p>
	
	<h2>Listado de tareas</h2>
	
	<div class="tableDiv">
		<button class="add-task" (click)="openPopup()">+</button>

		<table border="1">
			<thead>
			  <tr>
				<th>Selec</th>
				<th (click)="sortBy('id')">
					No. <span *ngIf="sortColumn === 'id'">{{ sortDirection ? '▲' : '▼' }}</span>
				</th>
				<th (click)="sortBy('titulo')">
					Tarea <span *ngIf="sortColumn === 'titulo'">{{ sortDirection ? '▲' : '▼' }}</span>
				</th>
				<th (click)="sortBy('minutos')">
					Duración (min) <span *ngIf="sortColumn === 'minutos'">{{ sortDirection ? '▲' : '▼' }}</span>
				</th>	
				<th (click)="sortBy('fav')">
					Favorita <span *ngIf="sortColumn === 'fav'"></span>
				</th>				  
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let tarea of tareas; let i = index">
				<td class="center-column"><input type="checkbox" (change)="toggleSelection(tarea)" [checked]="isSelected(tarea)"></td>
				<td class="center-column">{{ tarea.id }}</td>
				<td>{{ tarea.titulo }}</td>
				<td class="center-column">{{ tarea.minutos }}</td>
				<td class="center-column">
					<button class="favBttn" (click)="selectFav(tarea)">
						<img [src]="tarea.fav ? '../assets/img/fav.png' : '../assets/img/no_fav.png'" alt="Favorito">
					</button>
				</td>
			  </tr>
			</tbody>
		  </table>

			<button 
				class="removeBttn" 
				[ngClass]="{ 'disabled': selectedTasks.size === 0, 'active': selectedTasks.size > 0 }"
				[disabled]="selectedTasks.size === 0"
				(click)="removeSelectedTasks()"
			>
				Eliminar
			</button>
	</div>

	<div *ngIf="popupOpen" class="modal-overlay" >
		<app-popup (cerrar)="closePopup()" (taskAdded)="addNewTask($event)"></app-popup>
	</div>
</div>