<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<p>Diana Lucía Fernández Villatoro</p>
	
	<h2>Listado de tareas</h2>
	
	<div class="tableDiv">
		<button class="add-task" (click)="openPopup()">+</button>

		<table border="1">
			<thead>
			  <tr>
				<th>Selec</th>
				<th>No.</th>
				<th>Tarea</th>
				<th>Duración (minutos)</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let tarea of tareas; let i = index">
				<td class="center-column"><input type="checkbox" (change)="toggleSelection(tarea)" [checked]="isSelected(tarea)"></td>
				<td class="center-column">{{ i+1 }}</td>
				<td>{{ tarea.titulo }}</td>
				<td class="center-column">{{ tarea.minutos }}</td>
			  </tr>
			</tbody>
		  </table>
	</div>

	<div *ngIf="popupOpen" class="modal-overlay" >
		<app-popup (cerrar)="closePopup()" (taskAdded)="addNewTask($event)"></app-popup>
	</div>
</div>